@import "plagins/mixins";
@import "plagins/rem";

html {
	font-size: 14px;
	@include min-width(576px) {
		font-size: 15px;
	}
	@include min-width(768px) {
		font-size: 16px;
	}
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	background-color: #000;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
p,
a,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}
input,
textarea,
a {
	outline: none !important;
	border: none;
	&:hover {
		text-decoration: none;
	}
}
::selection {
	background: rgba(#fff, .4);
	color: #fff;
}
.rotate-block {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: .3;
	transition: all linear 1s;
	transform: translate3d(0, 0, 0);
	span {
		position: absolute;
		display: block;
		border: 1px solid;
		border-color:  rgba(#fff, .2);
		width: 100%;
		height: 100%;
		&:nth-child(1) {
			transform: rotate(0);
			animation: nth1 4s infinite linear;
		}
		&:nth-child(2) {
			transform: rotate(45deg);
			animation: nth2 5s infinite linear;
		}
		&:nth-child(3) {
			transform: rotate(22.5deg);
			animation: nth3 4s infinite linear;
		}
		&:nth-child(4) {
			transform: rotate(335deg);
			animation: nth4 5s infinite linear;
		}
	}
}
.main-bar {
	position: absolute;
	right: rem(35px);
	top: rem(50px);
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 2;
	img {
		position: absolute;
		width: 100%;
	}
	@include min-width($sm) {
		top: rem(70px);
	}
}
.main-bar-active {
	transform: translateX(0);
}
.main-bar-active-close {
	transform: translateX(300%);
	animation: mainBarActive .9s ease-out;
}
.main-bar-close {
	transform: translateX(300%);
}
.main-bar-close-elem {
	transform: translateX(0);
	animation: mainBarClose .5s linear;
}
.main-bar-close-elem-hidden {
	animation: mainBarCloseHidden .9s ease-out;
} 
.scroll-top {
	position: fixed;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: -100px;
	right: 7%;
	transition: transform .8s;
	width: 50px;
	height: 20px;
	background-color: rgba(#000, .6);
	border-radius: 4px;
	border: 1px solid #fff;
	cursor: pointer;
	text-align: center;
	z-index: 999;
	a {
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		text-decoration: none;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: 100%;
		margin-bottom: 3px;
		border-right: 20px solid transparent;
		border-left: 20px solid transparent;
		border-bottom: 10px solid rgba(#fff, .6);
		left: 50%;
		margin-left: -(40px/2);
	}
	&:hover {
		transition: opacity .3s;
		opacity: .5;
	}
}
.scroll-top--visible {
	transform: translateY(-150px);
}